{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}


{% block head_title %}{% trans 'FAQ' %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">{% trans "Home"%}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{%trans "FAQ"%}</li>
    </ol>
{% endblock%}




{% block body %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <link rel="stylesheet" href="{% static 'qa_page.css' %}">
        <link rel="stylesheet" href="{% static 'alfa.css' %}">

    {% block search %}


    <form style="margin-bottom:40px" action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" class="from-control"  placeholder="Axtar...">
        <input class="btn btn-primary" type="submit"  value="Axtar" >
        </form>

    {% endblock %}



        <div  class="questions">
            {% for object in objects %}
                  

                    <div class="row">
                      <div class="col-md-1">
                          <button class="plus-button"></button>
          
                      </div>
          
                      <div class="col-md-8">
          
                          <h4 style='font-size:23px'> {{object.question}}</h4>
                            <p  style="padding:0px">{{object.answer}}</p>
                            
          
                    </div>
                    
                  </div>
                  <hr>
             
                {% endfor %}
          
        </div>








        <script src="{% static 'qa_page.js' %}"></script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    {% endblock %}